@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
   font-size: 62.5%;

   --primary-color: #00856F;
   --gray-headline: #212529;
   --gray-paragraph: #495057;
   --brand-beige: #FFFAF1;
   --green-light: #DCE9E2;
   --brand-green-light: #DCE9E2;
   --nav-height: 7.2rem;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html,
body {
   width: 100%;
   height: 100%;
   background-color: var(--brand-green-light-02);
   font-family: 'DM Sans', sans-serif;
}

a {
   text-decoration: none;
}