.container {
   padding: 0 2.4rem;
}

.header::before {
   content: "";
   position: absolute;
   background-color: var(--green-light);
   width: 100vw;
   display: block;
   height: 110rem;
   z-index: -1;
   top: 0;
   left: 0;
   box-sizing: border-box;
}

.header {
   padding: 0 2.4rem;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.header p {
   font-weight: 400;
   color: var(--gray-paragraph);
   font-size: 1.8rem;
   line-height: 1.9rem;
   margin-bottom: 3.2rem;
}

.header button {
   margin-bottom: 6rem;
}


/* SERVICES */

.services {
   text-align: center;
   padding: 10rem 2.4rem;
}

.services div {
   display: flex;
   flex-direction: column;
   gap: 3.2rem;
}

/*about */
.about {
   padding: 10rem 2.4rem;
   background-color: var(--brand-beige);
}

.about h4 {
   font-weight: 700;
   font-size: 1.4rem;
   line-height: 150%;
   letter-spacing: 0.08em;
   color: var(--primary-color);
   text-transform: uppercase;
   padding-bottom: 1.6rem;
   text-align: center;
}

.about h2 {
   font-weight: 700;
   font-size: 3rem;
   line-height: 3.9rem;
   color: var(--gray-headline);
   padding-bottom: 2.4rem;
   text-align: center;
}

.about p {
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 150%;
   padding-bottom: 6rem;
   text-align: center;
}

/* contato */
.contact {
   padding: 10rem 2.4rem;
}

.contact h2 {
   font-weight: 700;
   font-size: 3rem;
   line-height: 3.9rem;
   color: var(--gray-headline);
   padding-bottom: 3.2rem;
}

.contact div {
   display: flex;
   gap: .8rem;
   padding-bottom: 1.6rem;
}

.contact p {
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 150%;
   color: var(--gray-paragraph);
}

.contact button {
   margin-bottom: 6rem;
}