.navbar {
   width: 100vw;

   display: flex;
   justify-content: space-between;

   padding: 2.7rem 3.4rem;

   position: fixed;
   z-index: 1;
   transition-duration: 0.2s;
}

.navbar div {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.navbar .close_menu,
.navbar .menu_links,
.navbar .social_icons {
   display: none;
}

.navbar button {
   background-color: rgba(0, 255, 255, 0);
   border: none;
}

.navbar.open {
   background-color: var(--primary-color);
   padding-top: 0;
   width: 100vw;
   height: 100vh;
}

.navbar.open a {
   color: white;
   cursor: pointer;
}

.navbar.open .open_menu {
   display: none;
}

.navbar.open .close_menu,
.navbar.open .menu_links {
   display: block;
}

.navbar.open .logo path {
   fill: white;
}

.navbar.open .open_menu svg:nth-child(1) path {
   stroke: white;
}

.navbar.open div {
   width: 100%;
   height: 7.2rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar.open .menu_links {
   padding-top: calc(6rem + var(--nav-height));
   list-style: none;
   position: absolute;
   width: 100vw;
   left: 0;
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 2.4rem;
   line-height: 3.1rem;
   text-align: center;
   color: white;
   z-index: -1;
}

.navbar.open .menu_links li {
   padding-bottom: 4.8rem;
}

.navbar.open li button {
   background-color: white;
   border-radius: 4rem;
   padding: 1.6rem 3.2rem;
   font-weight: 700;
   font-size: 1.8rem;
   line-height: 2.3rem;
   text-transform: uppercase;
   color: var(--primary-color);
}

.navbar.open .social_icons {
   display: flex;
   justify-content: center;
   gap: 1.6rem;
}

.navbar.scroll {
   background-color: var(--primary-color);
   transition-duration: 0.2s;
}

.navbar.scroll .logo path {
   fill: white;
}

.navbar.scroll .open_menu path {
   stroke: white;
}

@media screen and (min-width: 1024px) {

   .navbar {
      display: flex;
      align-items: center;
   }

   .navbar .open_menu {
      display: none;
   }

   .navbar .menu_links {
      display: flex;
      align-items: center;
      gap: 3.2rem;
      list-style: none;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2.1rem;
   }

   .navbar .menu_links a {
      color: var(--primary-color);
   }

   .navbar .btn_navbar {
      background-color: rgba(255, 255, 255, 0);
      border-radius: 4rem;
      border: 1px solid var(--primary-color);
      color: var(--primary-color);
      font-family: 'DM Sans', sans-serif;
      padding: 1rem 2.4rem;
      text-transform: uppercase;
      font-weight: 700;
      width: 19rem;
   }

   .navbar.scroll .menu_links a {
      color: white;
   }

   .navbar.scroll .btn_navbar{
      color: white;
      border: 1px solid white;
   }
}